.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    padding-right: 40px;
}

.articles-wrapper {
    flex-grow: 6;
}

.last-viewed-wrapper {
    flex-grow: 3;
}

.most-viewed-wrapper {
    flex-grow: 3;
}